<% for page in @pages %>
	<%= render :partial => "shared/page", :object => page %>
<% end %>
<div id="placeholder">
	<% if no_pages %>
		<div class="message">No Links Yet. <span>Add a link</span></div>
	<% end %>
</div>