<div id="api">
	<div class="title">BucketRead API v1</div>
	<div id="api_introduction">
		<div class="title">Introduction</div>
		BucketRead provides an API that can be used to create, retrieve, update, and delete page (link) and user resources. This interface incorporates several elements of the REST tradition, making access to these actions consistent and intuitive.
		<br/><br/>
		In a nutshell: collections are accessed via a URL ending in a plural noun such as '/pages', and to target an individual record, append its numerical id (/pages/85). To tell the API whether you are viewing, updating, or deleting the record, make use of the "HTTP verbs", GET, PUT, and DELETE (respectively). To create a new record, send a POST request to the collection's URL (/pages). The API will respond with an XML document reflecting your changes.
		<br/><br/>
		This is the first version of the API. To stay up to date with changes please follow us on Twitter or Facebook. We welcome additional feedback and suggestions on bucketread AT basedataapp.com.
	</div>
	<div id="api_index">
		<div class="title">Available API Actions</div>
		Here are some examples of supported API commands, and the corresponding responses. These examples are shown in the form of 'curl' commands. Curl is a command line utility used to perform HTTP requests, and is available on most Unix systems, but you can use any tool or language which can submit a corresponding HTTP request.
	</div>
	
</div>