<div id="pages">
	
	<div id="top_controls">
		<div id="top_control_add_page" class="top_control" title="Add a link"></div>
		<select id="top_control_filter">
			<option value="2">All</option>
			<option value="1">Read</option>
			<option value="0">Unread</option>
		</select>
	</div>
	
	<%= render :partial => "add_page" %>
	
	<div id="window">
		<%= render :partial => "pages" %>
	</div>
	
</div>