<%= render :partial => "account" %>

<div id="pages">
	
	<div id="top_controls">
		<div id="top_control_add_page" class="top_control" title="Add a link"></div>
		<div id="top_control_filter_locked_links" class="top_control" title="Show locked links"></div>
		<div id="top_control_filter_unlocked_links" class="top_control" title="Show unlocked links"></div>
	</div>
	
	<%= render :partial => "add_page" %>
	
	<div id="window">
		<%= render :partial => "pages" %>
	</div>
	
</div>