<div id="pages">
	
	<div id="top_controls">
		<div id="top_control_add_page" class="top_control" title="Add a link"></div>
		<div id="top_control_mark_read" class="top_control" title="Mark selected as Read!"></div>
		<div id="top_control_mark_unread" class="top_control" title="Mark selected as Unread!"></div>
		<%= select_tag( :filter, options_for_select( @filter_options, :disabled => @disabled_filter_options ), :id => "top_control_filter" ) %>
	</div>
	
	<%= render :partial => "add_page" %>
	
	<div id="window">
		<%= render :partial => "pages" %>
	</div>
	
</div>