<%= render :partial => "shared/messages" %>
<%= render :partial => "shared/nav" %>

<div id="main_logo"></div>

<div id="main_actions">
	<%= render :partial => "login" %>
	<%= render :partial => "signup" %>
</div>

<div id="main_content">
	<div class="row">
		<div class="cell">
			<div class="title">Get Started</div>
			<div class="body">Simply sign up for a free account with your email and get going. Download the extension here or from the Chrome Webstore.</div>
		</div>
		<div class="cell">
			<div class="title">What Makes BucketRead Different?</div>
			<div class="body">With BucketRead you can easily read the next page in your list with just 2-clicks instead of signing up for bulky services that you never return to.</div>
		</div>
	</div>
	<div class="row">
		<div class="cell">
			<div class="title">Simplicity is the key. Features:</div>
			<div class="body">
				<div class="list">&diams; Sign in using Twitter</div>
				<div class="list">&diams; Save your favorite links via a simple interface</div>
			</div>
		</div>
		<div class="cell">
			<div class="title">Whats upcoming?</div>
			<div class="body">
				<div class="list">&diams; A Chrome extension</div>
				<div class="list">&diams; An Android app so you can read saved articles on the go.</div>
				<div class="list">&diams; Support for FireFox will be upcoming.</div>
				<div class="list">&diams; Share links on Twitter & Facebook.</div>
			</div>
		</div>
	</div>
	<div class="row" id="dashboard_gallery">
	</div>
</div>