<div id="banner">
	<div id="banner_info">
		<div id="banner_slogan">Simply Bookmark & Get Organized</div>
		<div id="banner_summary">Manage those precious links that you've been waiting to read, all in one safe place!</div>
		<div id="banner_nav">
			<%= link_to "TAKE A TOUR", features_path, :class => "button" %>
			<%= link_to "CREATE AN ACCOUNT", signup_path, :class => "button" %>
		</div>
	</div>
	<div id="banner_visual">
		<%= image_tag "banner_visual.jpg" %>
	</div>
</div>

<div id="features_roll">
	<div class="button first_button">
		<div class="title">Save</div>
		<div class="body">
			<div class="content">Bookmark all your links in one easy to access spot! BucketRead allows you to save and view links with 1-click.</div>
			<div class="visual"></div>  
		</div>
	</div>
	<div class="button">
		<div class="title">Manage</div>
		<div class="body">
			<div class="content">Mark your links as read after reading them or reorganize them to read later.</div>
			<div class="visual"></div>
		</div>
	</div>
	<div class="button last_button">
		<div class="title">Read</div>
		<div class="body">
			<div class="content">Read on the web or read on the go with the BucketRead Chrome extension. Prioritize links by order using drag-and-drop.</div>
			<div class="visual"></div>
		</div>
	</div>
</div>

<div id="specials_roll">
	<div id="special_features">
		<div class="feature">
			<div class="title"><span></span>Share interesting links with your friends!</div>
			<div class="body">
				<div class="visual"></div>
				<div class="content">
					BucketRead integrates with your favorite social networks Facebook and Twitter. Share links with your friends and stay up to date together.
				</div>
			</div>
		</div>
		<div class="feature">
			<div class="title"><span></span>Bookmark links while browsing the web seamlessly</div>
			<div class="body">
				<div class="visual"></div>
				<div class="content">
					Using the BucketRead Chrome extension and the Firefox add-on you don't have to stop what you are doing to bookmark. Just hit the extension or add-on button and your link is saved to your account.
				</div>
			</div>
		</div>
		<div class="feature">
			<div class="title"><span></span>Read and share on the go with your mobile device</div>
			<div class="body">
				<div class="visual"></div>
				<div class="content">
					Take your reading list where you go. With BucketRead Android app you can read wherever you go.
				</div>
			</div>
		</div>
	</div>
	<div id="twitter_roll"></div>
</div>