<div id="main_logo_wrapper">
	<div id="main_logo"></div>
</div>

<div id="main_content_wrapper">
	<div id="main_content">
		<div class="row">
			<div class="cell">
				<div class="title">Get Started</div>
				<div class="body">BucketRead is a bookmarking service for links that goes with you. Simply sign up for a free account with your email and get going.</div>
			</div>
			<div class="cell">
				<div class="title">What Makes BucketRead Different?</div>
				<div class="body">With BucketRead you can easily read the next page in your list with just 2-clicks instead of signing up for bulky services that you never return to.</div>
			</div>
		</div>
		<div class="row">
			<div class="cell">
				<div class="title">Simplicity is the key. Features:</div>
				<div class="body">
					<div class="list">&diams; Save your favorite links via the simple interface.</div>
					<div class="list">&diams; Lock and unlock links after reading them.</div>
				</div>
			</div>
			<div class="cell">
				<div class="title">Whats upcoming?</div>
				<div class="body">
					<div class="list">&diams; A Chrome extension.</div>
					<div class="list">&diams; An Android app so you can read saved links on the go.</div>
					<div class="list">&diams; Support for FireFox will be upcoming.</div>
					<div class="list">&diams; Share links on Twitter and Facebook.</div>
					<div class="list">&diams; Integrate with your app using the BucketRead API.</div>
				</div>
			</div>
		</div>
		<div class="row" id="dashboard_gallery"></div>
	</div>
</div>