<%= render :partial => "shared/nav" %>

<div id="main_logo"></div>

<div id="main_content">
	<div class="row">
		<div class="cell">
			<div class="title">How do I get started?</div>
			<div class="body">Simply sign up for a free account with your email and get going. Download the extension here or from the Chrome Webstore.</div>
		</div>
		<div class="cell">
			<div class="title">How is it different?</div>
			<div class="body">With BucketRead you can easily read the next page in your list with just 2-clicks instead of signing up for bulky services that you never return to.</div>
		</div>
	</div>
	<div class="row">
		<div class="cell">
			<div class="title">Simplicity is the key. Features:</div>
			<div class="body">
				<div class="list">► A web interface</div>
				<div class="list">► A Chrome extension</div>
			</div>
		</div>
		<div class="cell">
			<div class="title">Whats upcoming?</div>
			<div class="body">
				<div class="list">► An Android app so you can read saved articles on the go.</div>
				<div class="list">► Support for FireFox will be upcoming.</div>
			</div>
		</div>
	</div>
</div>