/*
 * WELCOME
 */
#banner {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 900px;
	height: 150px;
	clear: both;
	background: #900;
	background: -moz-linear-gradient(top, #C00, #900);
	background: -webkit-gradient(linear, left top, left bottom, from(#C00), to(#900));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#banner_info {
	position: relative;
	padding: 20px;
	width: 660px;
	height: 110px;
	float: left;
}

#banner_visual {
	position: relative;
	padding: 20px;
	width: 160px;
	height: 110px;
	float: left;
}

#banner_visual img {
	width: 160px;
	height: 110px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 0 20px #600;
	-webkit-box-shadow: 0 0 20px #600;
}

#banner_slogan {
	width: 660px;
	height: 39px;
	line-height: 39px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-shadow: #C00 1px 1px 0px;
	color: #600;
	border-bottom: 1px solid #C00;
}

#banner_summary {
	width: 660px;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	text-align: center;
	text-shadow: #C00 1px 1px 0px;
	color: #400;
	border-top: 1px solid #900;
}

#banner_nav {
	padding: 5px;
	width: 650px;
	height: 35px;
}

#banner_nav .button {
	margin-left: 50px;
	width: 248px;
	height: 33px;
	line-height: 33px;
}

#features_roll {
	margin: auto;
	width: 900px;
	height: 150px;
	clear: both;
}

#features_roll .button {
	margin-right: 15px;
	padding: 10px;
	width: 268px;
	height: 128px;
	background: #EEE;
	background: -moz-linear-gradient(top, #EEE, #DDD);
	background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#DDD));
	border: 1px solid #EEE;
	-moz-box-shadow: 0 0 2px #000;
	-webkit-box-shadow: 0 0 2px #000;
}

#features_roll .button .title {
	width: 268px;
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	text-align: left;
}

#features_roll .button .body {
	width: 268px;
	height: 108px;
}

#features_roll .button .body .content {
	position: relative;
	width: 198px;
	height: 108px;
	line-height: 20px;
	font-weight: normal;
	text-align: left;
	color: #555;
	float: left;
}

#features_roll .button .body .visual {
	position: relative;
	width: 68px;
	height: 108px;
	line-height: 20px;
	font-weight: normal;
	text-align: left;
	color: #555;
	float: left;
}

#features_roll .last_button {
	margin: 0;
}

#specials_roll {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 900px;
	height: 360px;
	clear: both;
}

#special_features {
	position: relative;
	width: 600px;
	height: 360px;
	float: left;
}

#special_features .feature {
	padding: 10px 0;
	width: 600px;
	height: 99px;
	border-top: 1px dotted #999;
}

#special_features .feature .title {
	width: 600px;
	height: 30px;
	line-height: 30px;
	color: #900;
	font-weight: bold;
}

#special_features .feature .title span {
	margin-top: 7px;
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url(/images/jqueryui-lightness.png) no-repeat;
	background-position: -32px -16px;
	opacity: .8;
	float: left;
}

#special_features .feature .body {
	width: 580px;
	height: 69px;
	clear: both;
}

#special_features .feature .body .visual {
	position: relative;
	width: 100px;
	height: 69px;
	float: left;
}

#special_features .feature .body .content {
	position: relative;
	width: 480px;
	height: 69px;
	line-height: 20px;
	color: #555;
	float: left;
}

#twitter_roll {
	position: relative;
	margin-left: 10px;
	width: 270px;
	height: 340px;
	float: left;
	-moz-box-shadow: 0 0 2px #555;
	-webkit-box-shadow: 0 0 2px #555;
}

#twitter_roll .twitterSearchTitle {
	color: #900;
	text-shadow: #FFF 1px 1px 0px;
}

/*
 * INDEX
 */

#pages {
	margin: auto;
	margin-top: 10px;
	width: 900px;
	min-height: 600px;
	background: #DDD;
	border: 1px solid #CCC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 0 5px #CCC;
	-webkit-box-shadow: 0 0 5px #CCC;
}

#top_controls {
	width: 900px;
	height: 28px;
	background: #EEE;
	background: -moz-linear-gradient(top, #F5F5F5, #EEE);
	background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#EEE));
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	clear: both;
}

#top_controls .top_control {
	position: relative;
	margin: 6px 5px;
	width: 16px;
	height: 16px;
	color: #FFF;
	float: left;
	cursor: pointer;
	background: url(/images/jqueryui-lightness.png) no-repeat;
}

#top_controls .top_control:hover {
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
}

#top_controls #top_control_add_page {
	background-position: 0 -192px;
}

#top_controls #top_control_add_page:hover {
	background: url(/images/jqueryui-lightness-orange.png) no-repeat;
	background-position: 0 -192px;
}

#top_controls select {
	position: relative;
	margin-top: 4px;
	width: 68px;
	height: 20px;
	float: left;
}

#top_controls select option {
	width: 68px;
	height: 20px;
}

#add_page {
	padding: 5px;
	width: 890px;
	height: 30px;
	background: #FFF;
	display: none;
	clear: both;
	-moz-box-shadow: inset 0 0 5px #666;
	-webkit-box-shadow: inset 0 0 5px #666;
}

#add_page .field,
#add_page .button {
	position: relative;
	float: left;
	border: 1px solid #999;
}

#add_page .field {
	margin-right: 5px;
	padding: 0 5px;
	width: 783px;
	height: 28px;
	font-size: 14px;
}

#add_page .button {
	width: 88px;
	height: 30px;
	cursor: pointer;
}

#window {
	width: 900px;
	height: 570px;
	overflow: auto;
}

#window .page {
	padding: 5px;
	width: 890px;
	height: 18px;
	background: #FFFFCC;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #DBDBB0;
	clear: both;
}

#window > .unread {
	font-weight: bold;
}

#window > .read {
	font-weight: normal;
}

#window .page .url,
#window .page .status,
#window .page .unread,
#window .page .read,
#window .page .remove,
#window .page .date,
#window .page .tweet {
	position: relative;
	margin: 1px 5px;
	height: 18px;
	line-height: 18px;
	color: #555;
	float: right;
}

#window .page .url {
	margin: 0;
	width: 700px;
	text-decoration: none;
	float: left;
}

#window .page .url:hover {
	text-decoration: underline;
}

#window .page .status {
	width: 16px;
	height: 16px;
	background: url(/images/jqueryui-lightness.png) no-repeat;
	opacity: .6;
}

#window .page .status:hover {
	opacity: 1;
}

#window .page .unread {
	background-position: -192px -96px;
}

#window .page .read {
	background-position: -208px -96px;
}

#window .page .remove {
	width: 16px;
	height: 16px;
	font-weight: bold;
	background: url(/images/jqueryui-lightness-orange.png) no-repeat;
	background-position: -176px -96px;
	opacity: .6;
}

#window .page .remove:hover {
	opacity: 1;
}

#window .page .date {
	width: 16px;
	height: 16px;
	background: url(/images/jqueryui-lightness.png) no-repeat;
	background-position: -112px -112px;
	opacity: .6;
}

#window .page .date:hover {
	opacity: 1;
}

#window .page .tweet {
	width: 16px;
	height: 16px;
	line-height: 16px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #555;
}

#window .page .tweet:hover {
	color: #9AE4E8;
}

#placeholder {
	width: 900px;
	height: 100px;
	background: url(/images/stripe_40_100.png) repeat-x;
}

#placeholder .message {
	padding: 20px;
	width: 860px;
	height: 60px;
	text-align: center;
	font-size: 14px;
	color: #555;
}

#placeholder .message span {
	font-weight: bold;
	display: inline-block;
	cursor: pointer;
}

#placeholder .message span:hover {
	text-decoration: underline;
}

/*
 * FAQs
 */
#faqs {
	margin: auto;
	margin-top: 10px;
	padding: 20px;
	width: 860px;
	background: #F0F0FF;
	border: 1px solid #FFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 0 1px #333;
	-webkit-box-shadow: 0 0 1px #333;
}

#faqs .title {
	margin-bottom: 10px;
	width: 860px;
	height: 50px;
	line-height: 50px;
	font-size: 40px;
	font-weight: bold;
	color: #900;
	text-shadow: #FFF 1px 1px 2px;
}

#faqs .faq {
	padding: 20px 0;
	width: 860px;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}

#faqs .faq .question,
#faqs .faq .answer {
	width: 860px;
	line-height: 25px;
	font-size: 16px;
	color: #666;
}

#faqs .faq .question {
	text-shadow: #FFF 1px 1px 1px;
	font-weight: bold;
}

/*
 * API
 */
#api {
	margin: auto;
	padding: 20px;
	width: 860px;
	border: 1px solid #DDD;
	background: #EEE;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#api > .title {
	margin-bottom: 10px;
	width: 860px;
	height: 50px;
	line-height: 50px;
	font-size: 40px;
	font-weight: bold;
	color: #900;
	text-shadow: #FFF 1px 1px 2px;
}

#api_introduction {
	padding: 10px 0;
	width: 860px;
	line-height: 20px;
	text-align: justify;
}

#api_introduction .title {
	margin-bottom: 5px;
	width: 860px;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	font-weight: bold;
	color: #555;
	text-shadow: #FFF 1px 1px 2px;
	border-bottom: 5px solid #CCC;
}

#api_index {
	padding: 10px 0;
	width: 860px;
	line-height: 20px;
	text-align: justify;
}

#api_index .title {
	margin-bottom: 5px;
	width: 860px;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	font-weight: bold;
	color: #555;
	text-shadow: #FFF 1px 1px 2px;
	border-bottom: 5px solid #CCC;
}

#api_index .topic {
	margin-top: 20px;
	width: 860px;
	height: 25px;
	line-height: 25px;
	color: #900;
	font-size: 14px;
	font-weight: bold;
	text-shadow: #FFF 1px 1px 2px;
}

#api_index .action {
	padding-left: 20px;
	width: 840px;
	height: 20px;
	line-height: 20px;
	color: #900;
}

#api_details {
	padding: 10px 0;
	width: 860px;
	line-height: 20px;
	text-align: justify;
}

#api_details .title {
	margin-bottom: 5px;
	width: 860px;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	font-weight: bold;
	color: #555;
	text-shadow: #FFF 1px 1px 2px;
	border-bottom: 5px solid #CCC;
}

#api_details .topic {
	margin-top: 20px;
	width: 860px;
	height: 25px;
	line-height: 25px;
	color: #333;
	font-size: 14px;
	font-weight: bold;
	text-shadow: #FFF 1px 1px 2px;
}

#api_details .action {
	width: 860px;
	height: 20px;
	line-height: 20px;
	color: #555;
	font-weight: bold;
}

#api_details .path {
	margin-top: 5px;
	padding: 10px;
	width: 838px;
	line-height: 20px;
	color: #555;
	background: #F5F5F5;
	border: 1px solid #999;
	font-family: monospace;
}

#api_details .path span {
	display: inline-block;
	color: #900;
}

#api_details .response {
	margin-top: 5px;
	padding: 10px;
	width: 838px;
	line-height: 20px;
	color: #555;
	background: #F5F5F5;
	border: 1px solid #999;
	font-family: monospace;
}