/*
 * WELCOME
 */
#main_logo_wrapper {
	width: 100%;
	height: 300px;
	background: #EEE;
	background: -moz-linear-gradient(top, #EEE, #DDD);
	background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#DDD));
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

#main_logo {
	margin: auto;
	width: 900px;
	height: 300px;
	background: url(/images/bucketread_logo.png) no-repeat;
}

#main_content_wrapper {
	width: 100%;
	height: 500px;
	background: #F5F5F5;
	background: -moz-linear-gradient(top, #F5F5F5, #EEE);
	background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#EEE));
	border-top: 1px solid #FFF;
}

#main_content {
	margin: auto;
	width: 900px;
	height: 500px;
}

#main_content .row {
	padding: 10px;
	width: 880px;
	height: 130px;
	clear: both;
}

#main_content .row .cell {
	position: relative;
	width: 440px;
	height: 130px;
	float: left;
}

#main_content .row .cell .title {
	width: 420px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	color: #900;
}

#main_content .row .cell .body {
	width: 420px;
	height: 100px;
	line-height: 20px;
	font-size: 14px;
	color: #555;
}

#main_content .row .cell .body .list {
	width: 420px;
	line-height: 20px;
	font-size: 14px;
	color: #555;
}

#dashboard_gallery {
	height: 180px !important;
	background: url(/images/dashboard.png) no-repeat;
	-moz-box-shadow: inset 0 0 30px #000;
	-webkit-box-shadow: inset 0 0 30px #000;
}

/*
 * INDEX
 */

#pages {
	margin: auto;
	width: 900px;
	min-height: 600px;
	background: #DDD;
	border: 1px solid #999;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 0 5px #CCC;
	-webkit-box-shadow: 0 0 5px #CCC;
}

#top_controls {
	width: 900px;
	height: 28px;
	background: #EEE;
	background: -moz-linear-gradient(top, #F5F5F5, #EEE);
	background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#EEE));
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	clear: both;
}

#top_controls .top_control {
	position: relative;
	margin: 6px 5px;
	width: 16px;
	height: 16px;
	color: #FFF;
	float: left;
	cursor: pointer;
	background: url(/images/jqueryui-lightness.png) no-repeat;
}

#top_controls .top_control:hover {
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
}

#top_controls #top_control_add_page {
	background-position: 0 -192px;
}

#top_controls #top_control_add_page:hover {
	background: url(/images/jqueryui-lightness-orange.png) no-repeat;
	background-position: 0 -192px;
}

#top_controls #top_control_filter_locked_links {
	background-position: -192px -96px;
}

#top_controls #top_control_filter_locked_links:hover {
	background: url(/images/jqueryui-lightness-orange.png) no-repeat;
	background-position: -192px -96px;
}

#top_controls #top_control_filter_unlocked_links {
	background-position: -208px -96px;
}

#top_controls #top_control_filter_unlocked_links:hover {
	background: url(/images/jqueryui-lightness-orange.png) no-repeat;
	background-position: -208px -96px;
}

#add_page {
	padding: 5px;
	width: 890px;
	height: 30px;
	background: #FFF;
	display: none;
	clear: both;
	-moz-box-shadow: inset 0 0 5px #666;
	-webkit-box-shadow: inset 0 0 5px #666;
}

#add_page .field,
#add_page .button {
	position: relative;
	float: left;
	border: 1px solid #999;
}

#add_page .field {
	margin-right: 5px;
	padding: 0 5px;
	width: 783px;
	height: 28px;
	font-size: 14px;
}

#add_page .button {
	width: 88px;
	height: 30px;
	cursor: pointer;
}

#window {
	width: 900px;
	height: 570px;
	overflow: auto;
}

#window .page {
	padding: 5px;
	width: 890px;
	height: 18px;
	background: #FFFFCC;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #DBDBB0;
	clear: both;
}

#window .finished {
	background: #DAEBCF;
}

#window .page .url,
#window .page .status,
#window .page .unlocked,
#window .page .locked,
#window .page .remove,
#window .page .date,
#window .page .tweet {
	position: relative;
	margin: 1px 5px;
	height: 18px;
	line-height: 18px;
	color: #555;
	float: right;
}

#window .page .url {
	margin: 0;
	width: 700px;
	text-decoration: none;
	float: left;
}

#window .page .url:hover {
	text-decoration: underline;
}

#window .page .status {
	width: 16px;
	height: 16px;
	background: url(/images/jqueryui-lightness.png) no-repeat;
	opacity: .6;
}

#window .page .status:hover {
	opacity: 1;
}

#window .page .unlocked {
	background-position: -208px -96px;
}

#window .page .locked {
	background-position: -192px -96px;
}

#window .page .remove {
	width: 16px;
	height: 16px;
	font-weight: bold;
	background: url(/images/jqueryui-lightness-orange.png) no-repeat;
	background-position: -176px -96px;
	opacity: .6;
}

#window .page .remove:hover {
	opacity: 1;
}

#window .page .date {
	width: 16px;
	height: 16px;
	background: url(/images/jqueryui-lightness.png) no-repeat;
	background-position: -112px -112px;
	opacity: .6;
}

#window .page .date:hover {
	opacity: 1;
}

#window .page .tweet {
	width: 16px;
	height: 16px;
	line-height: 16px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #555;
}

#window .page .tweet:hover {
	color: #9AE4E8;
}

#placeholder {
	width: 900px;
	height: 100px;
	background: url(/images/stripe_40_100.png) repeat-x;
}

#placeholder .message {
	padding: 20px;
	width: 860px;
	height: 60px;
	text-align: center;
	font-size: 14px;
	color: #555;
}

#placeholder .message span {
	font-weight: bold;
	display: inline-block;
	cursor: pointer;
}

#placeholder .message span:hover {
	text-decoration: underline;
}

/*
 * ACCOUNT
 */
#account {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 10px;
	width: 880px;
	background: #EEE;
	display: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 0 5px #555;
	-webkit-box-shadow: 0 0 5px #555;
}

#account .title {
	margin-bottom: 10px;
	width: 880px;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	font-weight: bold;
	color: #555;
	border-bottom: 5px solid #DDD;
}

#account label {
	width: 400px;
	height: 30px;
	line-height: 30px;
	color: #999;
}

#account .field {
	margin-bottom: 5px;
	padding: 8px 5px;
	width: 390px;
	height: 12px;
	line-height: 12px;
	border: 1px solid #999;
}

#account .button {
	margin-top: 10px;
	width: 100px;
	height: 30px;
	line-height: 30px;
}

/*
 * FAQs
 */
#faqs {
	margin: auto;
	padding: 20px;
	width: 860px;
	border: 1px solid #DDD;
	background: #EEE;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#faqs .title {
	margin-bottom: 10px;
	width: 860px;
	height: 50px;
	line-height: 50px;
	font-size: 40px;
	font-weight: bold;
	color: #900;
	text-shadow: #FFF 1px 1px 2px;
}

#faqs .faq {
	padding: 20px 0;
	width: 860px;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}

#faqs .faq .question,
#faqs .faq .answer {
	width: 860px;
	line-height: 25px;
	font-size: 16px;
	color: #666;
}

#faqs .faq .question {
	text-shadow: #FFF 1px 1px 1px;
	font-weight: bold;
}

/*
 * API
 */
#api {
	margin: auto;
	padding: 20px;
	width: 860px;
	border: 1px solid #DDD;
	background: #EEE;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#api > .title {
	margin-bottom: 10px;
	width: 860px;
	height: 50px;
	line-height: 50px;
	font-size: 40px;
	font-weight: bold;
	color: #900;
	text-shadow: #FFF 1px 1px 2px;
}

#api_introduction {
	padding: 10px 0;
	width: 860px;
	line-height: 20px;
	text-align: justify;
}

#api_introduction .title {
	margin-bottom: 5px;
	width: 860px;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	font-weight: bold;
	color: #555;
	text-shadow: #FFF 1px 1px 2px;
	border-bottom: 5px solid #CCC;
}

#api_index {
	padding: 10px 0;
	width: 860px;
	line-height: 20px;
	text-align: justify;
}

#api_index .title {
	margin-bottom: 5px;
	width: 860px;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	font-weight: bold;
	color: #555;
	text-shadow: #FFF 1px 1px 2px;
	border-bottom: 5px solid #CCC;
}

#api_index .topic {
	margin-top: 20px;
	width: 860px;
	height: 25px;
	line-height: 25px;
	color: #900;
	font-size: 14px;
	font-weight: bold;
	text-shadow: #FFF 1px 1px 2px;
}

#api_index .action {
	padding-left: 20px;
	width: 840px;
	height: 20px;
	line-height: 20px;
	color: #900;
}

#api_details {
	padding: 10px 0;
	width: 860px;
	line-height: 20px;
	text-align: justify;
}

#api_details .title {
	margin-bottom: 5px;
	width: 860px;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	font-weight: bold;
	color: #555;
	text-shadow: #FFF 1px 1px 2px;
	border-bottom: 5px solid #CCC;
}

#api_details .topic {
	margin-top: 20px;
	width: 860px;
	height: 25px;
	line-height: 25px;
	color: #333;
	font-size: 14px;
	font-weight: bold;
	text-shadow: #FFF 1px 1px 2px;
}

#api_details .action {
	width: 860px;
	height: 20px;
	line-height: 20px;
	color: #555;
	font-weight: bold;
}

#api_details .path {
	margin-top: 5px;
	padding: 10px;
	width: 838px;
	line-height: 20px;
	color: #555;
	background: #F5F5F5;
	border: 1px solid #999;
	font-family: monospace;
}

#api_details .path span {
	display: inline-block;
	color: #900;
}

#api_details .response {
	margin-top: 5px;
	padding: 10px;
	width: 838px;
	line-height: 20px;
	color: #555;
	background: #F5F5F5;
	border: 1px solid #999;
	font-family: monospace;
}