/*
 * WELCOME
 */

#main_logo {
	margin: auto;
	width: 900px;
	height: 300px;
	background: url(/images/bucketread_logo.png) no-repeat;
}

#main_content {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 900px;
	height: 500px;
}

#main_content .row {
	padding: 10px;
	width: 880px;
	height: 130px;
	clear: both;
}

#main_content .row .cell {
	position: relative;
	width: 440px;
	height: 130px;
	float: left;
}

#main_content .row .cell .title {
	width: 420px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	color: #900;
}

#main_content .row .cell .body {
	width: 420px;
	height: 100px;
	line-height: 20px;
	font-size: 14px;
	color: #555;
}

#main_content .row .cell .body .list {
	width: 420px;
	line-height: 20px;
	font-size: 14px;
	color: #555;
}

#dashboard_gallery {
	height: 180px !important;
	background: url(/images/dashboard.png) no-repeat;
	-moz-box-shadow: inset 0 0 30px #000;
	-webkit-box-shadow: inset 0 0 30px #000;
}

#main_actions {
	margin: auto;
	padding: 10px;
	width: 880px;
	background: #EEE;
	display: none;
	clear: both;
	overflow: auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 0 5px #999;
	-webkit-box-shadow: 0 0 5px #999;
}

#login_form,
#new_user {
	position: relative;
	width: 440px;
	float: left;
}

#login_form .title,
#new_user .title {
	margin-bottom: 10px;
	width: 440px;
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	color: #900;
}

#login_form label,
#new_user label {
	width: 440px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	font-style: italic;
	color: #666;
}

#login_form .field,
#new_user .field {
	margin-bottom: 10px;
	padding: 5px;
	width: 388px;
	height: 18px;
	line-height: 18px;
	font-size: 12px;
	color: #666;
	border: 1px solid #999;
}

#login_form .button,
#new_user .button {
	width: 100px;
	height: 30px;
	font-size: 12px;
}

/*
 * INDEX
 */

#pages {
	margin: auto;
	width: 900px;
	min-height: 600px;
	background: #DDD;
	border: 1px solid #999;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 0 5px #CCC;
	-webkit-box-shadow: 0 0 5px #CCC;
}

#top_controls {
	width: 900px;
	height: 28px;
	z-index: 10;
	background: #555;
	border-bottom: 1px solid #FFF;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	clear: both;
}

#top_controls .top_control {
	position: relative;
	padding: 0 5px;
	min-width: 30px;
	height: 28px;
	line-height: 28px;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	float: left;
	cursor: pointer;
}

#top_controls .top_control:hover {
	background: #444;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
}

#add_page {
	padding: 5px;
	width: 890px;
	height: 30px;
	background: #FFF;
	display: none;
	clear: both;
	-moz-box-shadow: inset 0 0 5px #666;
	-webkit-box-shadow: inset 0 0 5px #666;
}

#add_page .field,
#add_page .button {
	position: relative;
	float: left;
	border: 1px solid #999;
}

#add_page .field {
	margin-right: 5px;
	padding: 0 5px;
	width: 783px;
	height: 28px;
	font-size: 14px;
}

#add_page .button {
	width: 88px;
	height: 30px;
	cursor: pointer;
}

#window {
	width: 900px;
	height: 570px;
	overflow: auto;
}

#window .page {
	padding: 5px;
	width: 890px;
	height: 18px;
	background: #FFFFCC;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #DBDBB0;
	clear: both;
}

#window .finished {
	background: #DAEBCF;
}

#window .page .url,
#window .page .status,
#window .page .unlocked,
#window .page .locked,
#window .page .remove,
#window .page .tweet {
	position: relative;
	height: 18px;
	line-height: 18px;
	color: #555;
	float: left;
}

#window .page .url {
	width: 700px;
	text-decoration: none;
}

#window .page .url:hover {
	text-decoration: underline;
}

#window .page .status {
	margin: 1px 0;
	width: 16px;
	height: 16px;
	background: url(/images/jqueryui-lightness.png) no-repeat;
	opacity: .6;
}

#window .page .status:hover {
	opacity: 1;
}

#window .page .unlocked {
	background-position: -208px -96px;
}

#window .page .locked {
	background-position: -192px -96px;
}

#window .page .remove {
	margin: 1px 0;
	width: 16px;
	height: 16px;
	font-weight: bold;
	background: url(/images/jqueryui-lightness-orange.png) no-repeat;
	background-position: -176px -96px;
	opacity: .6;
}

#window .page .remove:hover {
	opacity: 1;
}

#window .page .tweet {
	margin: 1px 0;
	width: 16px;
	height: 16px;
	line-height: 16px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #555;
}

#window .page .tweet:hover {
	color: #9AE4E8;
}

#window .page .status,
#window .page .remove,
#window .page .tweet {
	float: right;
}

#placeholder {
	width: 900px;
	height: 100px;
	background: url(/images/stripe_40_100.png) repeat-x;
}

#placeholder .message {
	padding: 20px;
	width: 860px;
	height: 60px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #555;
}

/*
 * ACCOUNT
 */
#account {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 10px;
	width: 880px;
	background: #EEE;
	display: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 0 5px #555;
	-webkit-box-shadow: 0 0 5px #555;
}

#account .title {
	margin-bottom: 10px;
	width: 880px;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	font-weight: bold;
	color: #555;
	border-bottom: 5px solid #DDD;
}

#account label {
	width: 400px;
	height: 30px;
	line-height: 30px;
	color: #999;
}

#account .field {
	margin-bottom: 5px;
	padding: 8px 5px;
	width: 390px;
	height: 12px;
	line-height: 12px;
	border: 1px solid #999;
}

#account .button {
	margin-top: 10px;
	width: 100px;
	height: 30px;
	line-height: 30px;
}

/*
 * FAQs
 */
#faqs {
	margin: auto;
	padding: 20px;
	width: 860px;
	border: 1px solid #DDD;
	background: #EEE;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#faqs .title {
	margin-bottom: 10px;
	width: 860px;
	height: 50px;
	line-height: 50px;
	font-size: 40px;
	font-weight: bold;
	color: #900;
	text-shadow: #FFF 1px 1px 2px;
}

#faqs .faq {
	padding: 20px 0;
	width: 860px;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}

#faqs .faq .question,
#faqs .faq .answer {
	width: 860px;
	line-height: 25px;
	font-size: 16px;
	color: #666;
}

#faqs .faq .question {
	text-shadow: #FFF 1px 1px 1px;
	font-weight: bold;
}

/*
 * API
 */
#api {
	margin: auto;
	padding: 20px;
	width: 860px;
	border: 1px solid #DDD;
	background: #EEE;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#api > .title {
	margin-bottom: 10px;
	width: 860px;
	height: 50px;
	line-height: 50px;
	font-size: 40px;
	font-weight: bold;
	color: #900;
	text-shadow: #FFF 1px 1px 2px;
}

#api_introduction {
	padding: 10px 0;
	width: 860px;
	line-height: 20px;
	text-align: justify;
}

#api_introduction .title {
	margin-bottom: 5px;
	width: 860px;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	font-weight: bold;
	color: #555;
	text-shadow: #FFF 1px 1px 2px;
	border-bottom: 5px solid #CCC;
}

#api_index {
	padding: 10px 0;
	width: 860px;
	line-height: 20px;
	text-align: justify;
}

#api_index .title {
	margin-bottom: 5px;
	width: 860px;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	font-weight: bold;
	color: #555;
	text-shadow: #FFF 1px 1px 2px;
	border-bottom: 5px solid #CCC;
}
