#footer {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 900px;
	height: 50px;
	line-height: 50px;
	clear: both;
	background: #E8E8E8;
	background: -moz-linear-gradient(top, #FCFCFC, #E8E8E8);
	background: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#E8E8E8));
	border: 1px solid #FFF;
	-moz-box-shadow: 0 0 2px #000;
	-webkit-box-shadow: 0 0 2px #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#legal {
	position: relative;
	padding: 0 10px;
	height: 50px;
	float: left;
	border-right: 1px solid #CCC;
	text-shadow: white 1px 1px 0px;
}

#copyright {
	font-weight: bold;
	color: #900;
}

#copyright,
#author {
	height: 25px;
	line-height: 25px;
}

#author a {
	display: inline-block;
	color: #900;
	text-decoration: none;
}

#footer .connect {
	position: relative;
	padding: 0 10px;
	height: 50px;
	float: right;
	border-left: 1px solid #CCC;
}

#footer .connect .title {
	font-weight: bold;
	color: #555;
	height: 25px;
	line-height: 25px;
}

#footer .connect .network {
	height: 25px;
	line-height: 25px;
	color: #900;
	text-shadow: white 1px 1px 0px;
	text-decoration: none;
}

#author a:hover,
#footer .connect .network:hover {
	color: #C00;
}
