#messages {
	position: fixed;
	width: 100%;
	line-height: 30px;
	font-weight: bold;
	text-align: center;
	color: #FFF;
	background: #555;
	z-index: 100;
	opacity: .7;
	-moz-box-shadow: 0 0 30px #CCC;
	-webkit-box-shadow: 0 0 30px #CCC;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

#messages:hover {
	opacity: .9;
}