#messages {
	margin: auto;
	width: 900px;
	line-height: 30px;
	font-weight: bold;
	text-align: center;
	color: #FFF;
	background: #555;
	-moz-box-shadow: 0 0 30px #CCC;
	-webkit-box-shadow: 0 0 30px #CCC;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}
