#nav {
	margin: auto;
	width: 900px;
	height: 75px;
	clear: both;
}

#tabs {
	position: relative;
	width: 400px;
	height: 75px;
	float: right;
}

#welcome {
	position: relative;
	width: 400px;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	float: right;
	text-align: right;
	color: #555;
}

#nav .tab {
	position: relative;
	margin-left: 20px;
	min-width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	float: right;
	color: #999;
	text-decoration: none;
}

#nav .tab:hover {
	color: #333;
	cursor: pointer;
}

#login_with_twitter {
	margin: 13px 0;
	width: 151px;
	height: 24px;
	line-height: 25px;
	cursor: pointer;
	background: url(/images/sign-in-with-twitter-d.png) no-repeat;
	opacity: .8;
}

#login_with_twitter:hover {
	opacity: 1;
}

#nav_logo {
	position: relative;
	width: 368px;
	height: 75px;
	background: url(/images/bucketread_logo_nav.png) no-repeat;
	float: left;
}
