#nav {
	margin: auto;
	width: 900px;
	height: 75px;
	clear: both;
}

#tabs {
	position: relative;
	margin-top: 20px;
	height: 33px;
	background: #E8E8E8;
	background: -moz-linear-gradient(top, #FCFCFC, #E8E8E8);
	background: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#E8E8E8));
	float: right;
	border: 1px solid #FFF;
	-moz-box-shadow: 0 0 1px #000;
	-webkit-box-shadow: 0 0 1px #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#nav .tab {
	margin-top: 10px;
	padding: 0 15px;
	height: 13px;
	line-height: 13px;
	border-left: 1px solid #CCC;
	border-right: 1px solid #FFF;
}

#nav .first_tab {
	border-left: 0;
}

#nav .last_tab {
	border-right: 0;
}

#login_with_twitter {
	margin: 8px 0;
	width: 151px;
	height: 24px;
	line-height: 24px;
	cursor: pointer;
	background: url(/images/sign-in-with-twitter-d.png) no-repeat;
	opacity: .8;
}

#login_with_twitter:hover {
	opacity: 1;
}

#nav_logo {
	position: relative;
	width: 368px;
	height: 75px;
	background: url(/images/bucketread_logo_nav.png) no-repeat;
	float: left;
}

#nav_tab_full_name {
	font-weight: bold;
}

#nav_tab_full_name:hover {
	color: #900;
}

#nav_thumbnail {
	position: relative;
	margin-top: 5px;
	margin-left: 15px;
	width: 21px;
	height: 21px;
	float: left;
	border: 1px solid #FFF;
	-moz-box-shadow: 0 0 1px #000;
	-webkit-box-shadow: 0 0 1px #000;
}
