<div id="footer">
	©2011 /
	Ideas by <a href="http://twitter.com/nitin_dhar" target="_blank">@nitin_dhar</a> / BucketRead on
	<a href="https://www.facebook.com/pages/BucketRead/170396366357572" target="_blank">Facebook</a> and
	<a href="http://twitter.com/intent/user?screen_name=BucketRead" target="_blank">Twitter </a> 
</div>