<div id="footer">
	<div id="legal">
		<div id="copyright">©2011 BucketRead</div>
		<div id="author">Ideas by <a href="http://twitter.com/nitin_dhar" target="_blank">@nitin_dhar</a></div>
	</div>
	<div class="connect">
		<div class="title">Connect on</div>
		<a class="network" href="https://www.facebook.com/pages/BucketRead/170396366357572" target="_blank">Facebook</a>
	</div>
	<div class="connect">
		<div class="title">Connect on</div>
		<a class="network" href="http://twitter.com/intent/user?screen_name=BucketRead" target="_blank">Twitter</a>
	</div> 
</div>