<div id="footer">
	©2011 / Ideas by <a href="http://twitter.com/nitin_dhar" target="_blank">@nitin_dhar</a> / <a href="http://twitter.com/intent/user?screen_name=BucketRead" target="_blank">Follow BucketRead on Twitter</a>
</div>