<link rel="stylesheet" type="text/css" href="../stylesheets/extension.css">
<script type="text/javascript" src="../javascripts/jquery.js"></script>
<script type="text/javascript" src="../javascripts/jqueryui.js"></script>
<script type="text/javascript" src="../javascripts/extension.js"></script>

<div id="main">
	<div id="logo"></div>
	<div id="content">
		<div id="login">
			<div class="title">Login to BucketRead</div>
			<div class="body">
				<label for="email">Email</label>
				<input type="text" name="email" class="field" />
				<label for="password">Password</label>
				<input type="password" name="password" class="field" />
				<input type="submit" class="button" value="Login" />
			</div>
		</div>
	</div>
</div>
